In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import reverse_geocoder as rg
import censusgeocode as cg
import requests
import json
%matplotlib inline


dados = pd.read_csv(".\python\df_MTA.txt")

In [68]:
dados[:3]

,Unnamed: 0,STATION,DATE,ENTRIES,EXITS,name,score,geo,weekday,Volume
0,0,1 AV,01/01/2018,8427,9924,1st Ave,11,"(40.6508606878022, -73.94945514035334)",0,18351
1,1,1 AV,01/02/2018,18668,21328,1st Ave,11,"(40.6508606878022, -73.94945514035334)",1,39996
2,2,1 AV,01/03/2018,20417,22357,1st Ave,11,"(40.6508606878022, -73.94945514035334)",2,42774

In [69]:
stations = dados.groupby(["STATION"], sort=False, as_index=False)["geo"].first()
stations[:3]

         STATION                                     geo
0           1 AV  (40.6508606878022, -73.94945514035334)
1         103 ST  (40.76008683231326, -73.9752485052734)
2  103 ST-CORONA  (40.76008683231326, -73.9752485052734)

In [70]:
resp = requests.get('http://data.fcc.gov/api/block/find?format=json&latitude=40.6508606878022&longitude=-73.94945514035334&showall=false')
resp.json()['Block']['FIPS'][:11]

'36047081800'

In [72]:
def latlong(geo):
    lat = geo[1:].split(',')[0]
    long = geo[:-1].split(', ')[1]
    url = 'http://data.fcc.gov/api/block/find?format=json&latitude='+lat+'&longitude='+long+'&showall=false'
    resp = requests.get(url)
    if resp.status_code != 200:
        result = 0
    else: 
        result = resp.json()['Block']['FIPS'][:11]
    return(result)

latlong("(40.6508606878022, -73.94945514035334)")

'36047081800'

In [73]:
#takes ~20min or more to geocode
stationsbkp = stations
stations['CensusTract'] = stations['geo'].apply(latlong)
stations

             STATION                                       geo  censustract
0               1 AV    (40.6508606878022, -73.94945514035334)  36047081800
1             103 ST    (40.76008683231326, -73.9752485052734)  36061010200
2      103 ST-CORONA    (40.76008683231326, -73.9752485052734)  36061010200
3             104 ST   (40.84386300128381, -73.83632199755944)  36005026602
4             110 ST   (40.617397744443736, -73.9592431052215)  36047076800
5             111 ST      (40.7564420005104, -73.929861999118)  36081005100
6             116 ST   (40.71157600064823, -73.94049699874644)  36047049500
7    116 ST-COLUMBIA   (40.73097497580066, -73.98168087489128)  36061003400
8             121 ST   (40.59294299908617, -73.77601299999507)  36081097202
9             125 ST  (40.755983000570076, -73.98622899953202)  36061011900
10            135 ST    (40.71277400073426, -73.9514239994525)  36047051300
11   137 ST CITY COL   (40.71717399858899, -73.95666499806525)  36047055300
12    138/GRAND CONC  (40.858984999820116, -73.85535900043564)  36005032600
13             14 ST   (40.84386300128381, -73.83632199755944)  36005026602
14    14 ST-UNION SQ   (40.66476678877493, -73.92252118536001)  36047090000
15            145 ST     (40.706889998054, -73.95348800038457)  36047052900
16    149/GRAND CONC  (40.665517963059635, -73.88940491730106)  36047112400
17       14TH STREET     (40.706889998054, -73.95348800038457)  36047052900
18    15 ST-PROSPECT   (40.57631166708091, -73.96850099975177)  36047036200
19            155 ST   (40.77003699949086, -73.91809500109238)  36081012500
20            157 ST   (40.81322399958908, -73.92984899935611)  36005005100
21   161/YANKEE STAD    (40.81830344372315, -73.9273847542618)  36005005100
22   163 ST-AMSTERDM   (40.60773573171741, -74.00159259239406)  36047027800
23            167 ST   (40.83376899862797, -73.91843200082253)  36005019700
24            168 ST     (40.77551939729258, -73.976336575218)  36061014300
25            169 ST   (40.78582304678557, -73.96882849429672)  36061014300
26            170 ST     (40.7441286664954, -73.9495999997552)  36081000700
27            174 ST   (40.65046878544699, -73.89954769388724)  36047109800
28       174-175 STS   (40.84589999983414, -73.91013600050078)  36005022901
29            175 ST    (40.8340410001399, -73.94488999901047)  36061024100
..               ...                                       ...          ...
350   SUTPHIN-ARCHER   (40.75172999941711, -73.85533399834884)  36081040100
351        SUTTER AV    (40.59092700078133, -73.7969239998421)  36081095400
352  SUTTER AV-RUTLD   (40.75172999941711, -73.85533399834884)  36081040100
353        THIRTY ST    (40.66914500061398, -73.9019160004208)  36047090800
354  THIRTY THIRD ST  (40.877839385172024, -73.86613410538703)  36005037800
355   TIMES SQ-42 ST  (40.703844000042096, -73.94735499884204)  36047049100
356    TOMPKINSVILLE   (40.75746830782865, -73.96907237490204)  36061009800
357       TREMONT AV  (40.745630001138395, -73.90298400173006)  36081026100
358  TWENTY THIRD ST   (40.82042099969279, -73.93624499873299)  36061023200
359         UNION ST   (40.67731566735096, -73.98310999909673)  36047011900
360         UTICA AV   (40.750635651014804, -73.9401635351909)  36081001900
361   V.CORTLANDT PK  (40.707571999615695, -73.80328900021885)  36081023600
362    VAN SICLEN AV   (40.67802821447783, -73.89165772702445)  36047119800
363   VAN SICLEN AVE   (40.67802821447783, -73.89165772702445)  36047119800
364   VERNON-JACKSON   (40.76824700063689, -73.98192900232715)  36061014500
365   W 4 ST-WASH SQ  (40.761431998800546, -73.92582299919906)  36081005900
366  W 8 ST-AQUARIUM   (40.82042099969279, -73.93624499873299)  36061023200
367    WAKEFIELD/241   (40.68286062551184, -73.90526176305106)  36047040500
368          WALL ST   (40.65665931376077, -73.95007934590994)  36047080400
369    WEST FARMS SQ    (40.85345300155693, -73.9076840015997)  36005024300
370   WESTCHESTER SQ   (40.66476678877493, -73.92252118536001)  36047090000
371  WHITEHALL S-FRY    (40.66914500061398, -73.9019160004208)  36047090800
372      WHITLOCK AV   (40.61925870977273, -73.99884094850685)  36047026200
373        WILSON AV   (40.82042099969279, -73.93624499873299)  36061023200
374      WINTHROP ST   (40.70291899894902, -73.90758199885423)  36081054900
375   WOODHAVEN BLVD  (40.690648119969794, -73.98177094440949)  36047003100
376         WOODLAWN   (40.903125000541245, -73.8506199987954)  36005043400
377  WORLD TRADE CTR   (40.61925870977273, -73.99884094850685)  36047026200
378          YORK ST   (40.58654754707536, -73.95405791257907)  36047060600
379        ZEREGA AV    (40.6627729934283, -73.95072891124937)  36047032900

[380 rows x 3 columns]

In [78]:
stations.to_csv(".\python\stations.csv")
#stations = pd.read_csv(".\python\stations.csv", index_col='Unnamed: 0', dtype=object)

,STATION,geo,censustract,CensusTract
0,1 AV,"(40.6508606878022, -73.94945514035334)",36047081800,36047081800
1,103 ST,"(40.76008683231326, -73.9752485052734)",36061010200,36061010200
2,103 ST-CORONA,"(40.76008683231326, -73.9752485052734)",36061010200,36061010200
3,104 ST,"(40.84386300128381, -73.83632199755944)",36005026602,36005026602
4,110 ST,"(40.617397744443736, -73.9592431052215)",36047076800,36047076800
5,111 ST,"(40.7564420005104, -73.929861999118)",36081005100,36081005100
6,116 ST,"(40.71157600064823, -73.94049699874644)",36047049500,36047049500
7,116 ST-COLUMBIA,"(40.73097497580066, -73.98168087489128)",36061003400,36061003400
8,121 ST,"(40.59294299908617, -73.77601299999507)",36081097202,36081097202
9,125 ST,"(40.755983000570076, -73.98622899953202)",36061011900,36061011900

In [98]:
demographics = pd.read_csv("./python/nyc_census_tracts.csv")
stations = stationsbkp
stations['CensusTract'] = stations['censustract']

stations['CensusTract'] = pd.to_numeric(stations['CensusTract'])
demographics['CensusTract'] = pd.to_numeric(demographics['CensusTract'])

demographics[:10]

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,36005000100,Bronx,Bronx,7703,7133,570,29.9,6.1,60.9,0.2,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,43.0,2308,80.8,16.2,2.9,0.0,7.7
2,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,45.0,2675,71.7,25.3,2.5,0.6,9.5
3,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,38.8,2120,75.0,21.3,3.8,0.0,8.7
4,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,45.4,1083,76.8,15.5,7.7,0.0,19.2
5,36005002000,Bronx,Bronx,8516,3301,5215,61.1,1.6,31.1,0.3,...,4.3,1.0,0.0,46.0,2508,71.0,21.3,7.7,0.0,17.2
6,36005002300,Bronx,Bronx,4774,2130,2644,62.3,0.2,36.5,1.0,...,14.0,1.5,4.1,42.7,1191,74.2,16.1,9.7,0.0,18.9
7,36005002400,Bronx,Bronx,150,109,41,0.0,52.0,48.0,0.0,...,0.0,0.0,0.0,NaN,113,62.8,37.2,0.0,0.0,0.0
8,36005002500,Bronx,Bronx,5355,2338,3017,76.5,1.5,18.9,0.0,...,17.7,1.8,2.7,35.5,1691,85.1,8.3,6.1,0.5,9.4
9,36005002701,Bronx,Bronx,3016,1375,1641,68.0,0.0,31.2,0.0,...,18.0,0.0,1.6,42.8,1102,86.9,8.5,4.5,0.0,15.2

In [102]:
stationcensus = pd.merge(stations, demographics, on='CensusTract', how='left')
stationcensus[:10]

,STATION,geo,censustract,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1 AV,"(40.6508606878022, -73.94945514035334)",36047081800,36047081800,Kings,Brooklyn,4409,2029,2380,14.9,...,8.9,1.3,4.7,46.7,1974,70.4,25.1,4.6,0.0,8.0
1,103 ST,"(40.76008683231326, -73.9752485052734)",36061010200,36061010200,New York,Manhattan,258,150,108,3.1,...,21.6,24.1,27.8,15.2,162,67.9,3.1,29.0,0.0,0.0
2,103 ST-CORONA,"(40.76008683231326, -73.9752485052734)",36061010200,36061010200,New York,Manhattan,258,150,108,3.1,...,21.6,24.1,27.8,15.2,162,67.9,3.1,29.0,0.0,0.0
3,104 ST,"(40.84386300128381, -73.83632199755944)",36005026602,36005026602,Bronx,Bronx,5769,2512,3257,54.3,...,0.0,0.7,2.1,42.3,2299,75.4,20.7,3.9,0.0,14.9
4,110 ST,"(40.617397744443736, -73.9592431052215)",36047076800,36047076800,Kings,Brooklyn,3308,1434,1874,9.9,...,19.1,0.1,5.3,34.3,1372,78.3,15.6,6.1,0.0,9.7
5,111 ST,"(40.7564420005104, -73.929861999118)",36081005100,36081005100,Queens,Queens,2194,1064,1130,16.5,...,19.3,4.1,2.1,33.8,1119,79.8,7.2,13.0,0.0,16.8
6,116 ST,"(40.71157600064823, -73.94049699874644)",36047049500,36047049500,Kings,Brooklyn,2702,1342,1360,18.8,...,8.3,1.0,5.8,31.6,1764,86.1,4.9,8.5,0.6,5.6
7,116 ST-COLUMBIA,"(40.73097497580066, -73.98168087489128)",36061003400,36061003400,New York,Manhattan,6476,3163,3313,17.3,...,25.5,8.3,6.0,30.0,4480,86.9,4.9,7.9,0.4,5.1
8,121 ST,"(40.59294299908617, -73.77601299999507)",36081097202,36081097202,Queens,Queens,2634,1132,1502,28.4,...,7.3,1.6,6.6,57.1,858,83.9,9.1,7.0,0.0,12.4
9,125 ST,"(40.755983000570076, -73.98622899953202)",36061011900,36061011900,New York,Manhattan,1068,699,369,23.6,...,55.9,4.6,15.6,16.5,379,79.9,2.1,17.9,0.0,12.9

In [106]:
transit = pd.read_csv('./python/df_MTA.txt')
transit[:10]

,Unnamed: 0,STATION,DATE,ENTRIES,EXITS,name,score,geo,weekday,Volume
0,0,1 AV,01/01/2018,8427,9924,1st Ave,11,"(40.6508606878022, -73.94945514035334)",0,18351
1,1,1 AV,01/02/2018,18668,21328,1st Ave,11,"(40.6508606878022, -73.94945514035334)",1,39996
2,2,1 AV,01/03/2018,20417,22357,1st Ave,11,"(40.6508606878022, -73.94945514035334)",2,42774
3,3,1 AV,01/04/2018,12010,13472,1st Ave,11,"(40.6508606878022, -73.94945514035334)",3,25482
4,4,1 AV,01/05/2018,18891,21966,1st Ave,11,"(40.6508606878022, -73.94945514035334)",4,40857
5,5,1 AV,01/06/2018,12732,15176,1st Ave,11,"(40.6508606878022, -73.94945514035334)",5,27908
6,6,1 AV,01/07/2018,10889,12757,1st Ave,11,"(40.6508606878022, -73.94945514035334)",6,23646
7,7,1 AV,01/08/2018,20098,22826,1st Ave,11,"(40.6508606878022, -73.94945514035334)",0,42924
8,8,1 AV,01/09/2018,21159,23291,1st Ave,11,"(40.6508606878022, -73.94945514035334)",1,44450
9,9,1 AV,01/10/2018,21055,24289,1st Ave,11,"(40.6508606878022, -73.94945514035334)",2,45344