In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline

In [2]:
df = pd.read_csv('byStation.csv')
df.columns = ['STATION','DATE','ENTRIES','EXITS']
df_final = pd.read_pickle('df_final.pickle')

In [9]:
df_final

,STATION,DATE,ENTRIES,EXITS,name,score,geo
0,1 AV,01/01/2018,8427,9924,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
1,1 AV,01/02/2018,18668,21328,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
2,1 AV,01/03/2018,20417,22357,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
3,1 AV,01/04/2018,12010,13472,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
4,1 AV,01/05/2018,18891,21966,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
5,1 AV,01/06/2018,12732,15176,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
6,1 AV,01/07/2018,10889,12757,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
7,1 AV,01/08/2018,20098,22826,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
8,1 AV,01/09/2018,21159,23291,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
9,1 AV,01/10/2018,21055,24289,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
10,1 AV,01/11/2018,20849,23115,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
11,1 AV,01/12/2018,21187,22721,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
12,1 AV,01/14/2017,12090,11694,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
13,1 AV,01/15/2017,9742,9604,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
14,1 AV,01/16/2017,12914,14799,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
15,1 AV,01/17/2017,20795,23427,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
16,1 AV,01/18/2017,21336,22696,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
17,1 AV,01/19/2017,22051,24220,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
18,1 AV,01/20/2017,21566,24580,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
19,1 AV,01/21/2017,12798,12498,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
20,1 AV,01/22/2017,9149,9004,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
21,1 AV,01/23/2017,19573,23337,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
22,1 AV,01/24/2017,20772,22952,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
23,1 AV,01/25/2017,21471,22180,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
24,1 AV,01/26/2017,21394,22770,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
25,1 AV,01/27/2017,22455,24287,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
26,1 AV,01/28/2017,12920,12501,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
27,1 AV,01/29/2017,9722,9214,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
28,1 AV,01/30/2017,20167,22161,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
29,1 AV,01/31/2017,21458,23096,1st Ave,11,"(40.6508606878022, -73.94945514035334)"
...,...,...,...,...,...,...,...
136134,ZEREGA AV,12/02/2017,1253,1126,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136135,ZEREGA AV,12/03/2017,945,807,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136136,ZEREGA AV,12/04/2017,2746,2145,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136137,ZEREGA AV,12/05/2017,2837,2278,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136138,ZEREGA AV,12/06/2017,2897,2380,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136139,ZEREGA AV,12/07/2017,2818,2256,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136140,ZEREGA AV,12/08/2017,2760,2220,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136141,ZEREGA AV,12/09/2017,1176,1069,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136142,ZEREGA AV,12/10/2017,883,848,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136143,ZEREGA AV,12/11/2017,2618,1987,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136144,ZEREGA AV,12/12/2017,2749,2064,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136145,ZEREGA AV,12/13/2017,2600,2020,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136146,ZEREGA AV,12/14/2017,2632,1985,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136147,ZEREGA AV,12/15/2017,2534,1888,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136148,ZEREGA AV,12/16/2017,1199,1046,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136149,ZEREGA AV,12/17/2017,936,871,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136150,ZEREGA AV,12/18/2017,2723,2121,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136151,ZEREGA AV,12/19/2017,2776,2166,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136152,ZEREGA AV,12/20/2017,2729,2121,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136153,ZEREGA AV,12/21/2017,2633,2052,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136154,ZEREGA AV,12/22/2017,2577,2024,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136155,ZEREGA AV,12/23/2017,1084,906,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136156,ZEREGA AV,12/24/2017,921,799,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136157,ZEREGA AV,12/25/2017,677,660,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136158,ZEREGA AV,12/26/2017,1985,1487,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136159,ZEREGA AV,12/27/2017,2046,1685,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136160,ZEREGA AV,12/28/2017,2004,1653,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136161,ZEREGA AV,12/29/2017,1958,1506,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136162,ZEREGA AV,12/30/2017,1006,905,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"
136163,ZEREGA AV,12/31/2017,830,722,Graham Ave,10,"(40.6627729934283, -73.95072891124937)"

In [11]:
df_final['weekday'] = pd.to_datetime(df_final['DATE']).dt.weekday
df_final.head()

,STATION,DATE,ENTRIES,EXITS,name,score,geo,weekday
0,1 AV,01/01/2018,8427,9924,1st Ave,11,"(40.6508606878022, -73.94945514035334)",0
1,1 AV,01/02/2018,18668,21328,1st Ave,11,"(40.6508606878022, -73.94945514035334)",1
2,1 AV,01/03/2018,20417,22357,1st Ave,11,"(40.6508606878022, -73.94945514035334)",2
3,1 AV,01/04/2018,12010,13472,1st Ave,11,"(40.6508606878022, -73.94945514035334)",3
4,1 AV,01/05/2018,18891,21966,1st Ave,11,"(40.6508606878022, -73.94945514035334)",4

In [4]:
#df.STATION.value_counts()

In [4]:
df['Volume'] = df.ENTRIES + df.EXITS
df.head()

  STATION        DATE  ENTRIES  EXITS  Volume
0    1 AV  01/01/2018     8427   9924   18351
1    1 AV  01/02/2018    18668  21328   39996
2    1 AV  01/03/2018    20417  22357   42774
3    1 AV  01/04/2018    12010  13472   25482
4    1 AV  01/05/2018    18891  21966   40857

In [5]:
# from scipy import stats
# import numpy as np
# df = df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

In [6]:
byMed = df.groupby('STATION').median()
byMedWeekend = df[df.weekday>4].groupby('STATION').median()
byMean = df.groupby('STATION').mean()
byMeanWeekend = df[df.weekday>4].groupby('STATION').mean()
byMeanWeek = df[df.weekday<=4].groupby('STATION').mean()

AttributeError: 'DataFrame' object has no attribute 'weekday'

In [7]:
byMeanWeek.sort_values('Volume',ascending=False).head(10)

NameError: name 'byMeanWeek' is not defined

In [8]:
byMean.sort_values('Volume',ascending=False).head(10)

NameError: name 'byMean' is not defined